/* ----------------Google Fonts---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* ----------------Reset---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----------------Common---------------- */
/* -----Body----- */
body {
  width: 100%;
  min-height: 100vh;
  background-color: #d9d9da;
}

/* -----Typographies----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  color: #2d3436;
}

p,
label {
  margin: 5px;
  font-size: 0.9rem;
  color: #2d3436;
}

/* -----Links----- */
a {
  margin: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #2d3436;
  transition: all 0.3s ease-in-out;
}

/* -----Background----- */
.background {
  position: fixed;
  z-index: 80;
  width: 100%;
  height: 100%;
  background-image: url(../public/assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bgAnim 10s alternate infinite ease-in-out both;
}

@keyframes bgAnim {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.95);
  }

  40% {
    transform: scale(0.95);
    transform: translateX(7%);
  }

  60% {
    transform: scale(0.95);
    transform: translateY(-7%);
  }

  80% {
    transform: scale(0.95);
    transform: rotateZ(10deg);
  }

  100% {
    transform: scale(1.1);
  }
}

.overlay {
  content: "";
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 35, 0.6);
}

/* ----------------Home Page---------------- */
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* -----Logo----- */
.logo {
  position: relative;
  padding: 0 20px;
  color: #000000;
  font-size: 4.5rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  z-index: 99;
  margin: -100px 0 30px 0;
  transition: all 1s ease-in-out;
}

.logo > span {
  font-size: 7rem;
  color: #ffffff;
}

/* ----------------Feed Page---------------- */
.feed {
  position: relative;
  z-index: 99;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* -----Memory wall----- */
.memories-wall {
  width: 100%;
  padding: 0 30px;
  margin: 150px 0;
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

/* ----------------Media Queries---------------- */
@media (max-width: 400px) {
  /* -----Common----- */
  /* Body */
  body {
    overflow-y: auto;
  }

  /* -----Home Page----- */
  .home {
    padding: 30px 20px;
  }

  /* Logo */
  .logo {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .logo > span {
    font-size: 4.5rem;
  }
}
