/* ----------------Google Fonts---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* ----------------Reset---------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----------------Common---------------- */
/* -----Body----- */
body{
  width: 100%;
  min-height: 100vh;
}

/* -----Typographies----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  color: #2d3436;
}

p, label {
  margin: 5px;
  font-size: 0.9rem;
  color: #2d3436;
}

/* -----Links----- */
a {
  margin: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #2d3436;
  transition: all 0.3s ease-in-out;
}

/* -----Background----- */
.background{
  position: fixed;
  z-index: 80;
  width: 100%;
  height: 100%;
  background-image: url(../public/assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bgAnim 10s alternate infinite ease-in-out both;
}

@keyframes bgAnim {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.95);
  }

  40% {
    transform: scale(0.95);
    transform: translateX(7%);
  }

  60% {
    transform: scale(0.95);
    transform: translateY(-7%);
  }

  80% {
    transform: scale(0.95);
    transform: rotateZ(10deg);
  }

  100% {
    transform: scale(1.1);
  }
}

.overlay{
  content: "";
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 35, 0.6);
}

/* ----------------Home Page---------------- */
/* -----Login Section----- */
.login-section{
  position: relative;
  z-index: 99;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
  width: 100%;
  max-width: 350px;
  background-color: #d9d9da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}

/* Heading */
.login-form .section-heading{
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-left: 0.5rem;
}

/* Inputs, Buttons & Links */
.login-form .input-custom,
.login-form .button-custom{
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.login-form .input-custom:focus{
  background-color: #ffeaa7 !important;
}

.login-form .button-custom:hover{
  background-color: #eb832e !important;
  border-color: #eb832e !important;
  color: #2d3436 !important;
}

.login-form .input-check{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer !important;
}

.login-form .input-check > label{
  margin-left: 10px;
}

.login-form .to-reg:hover{
  color: #000000;
  transform: translateY(2px);
}