/* -----Footer Section----- */
.footer-section {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 20px;
  background-color: #2d3436;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Copyright & Credits */
.footer-section .copy,
.footer-section .credits {
  font-size: 0.8rem;
  color: #ffffff;
}
