/* -----Login & Register Sections----- */
.login-register-section {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Form */
.login-register-form {
  width: 100%;
  max-width: 350px;
  background-color: #d9d9da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

/* Heading */
.login-register-form .heading {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-left: 0.5rem;
}

/* Textboxes & Buttons */
.login-register-form .textbox-custom,
.login-register-form .button-custom {
  width: 100%;
}

.login-register-form .input-check {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-register-form .textbox-custom:focus {
  background-color: #ffeaa7 !important;
}
.login-register-form .button-custom:hover {
  background-color: #eb832e !important;
  color: #2d3436 !important;
}

/* Checkboxes & Labels */
.login-register-form .input-check > label {
  margin-left: 10px;
  cursor: pointer;
}

.login-register-form .input-check > label > span {
  color: #310e0e;
  text-decoration: underline;
}

/* Links */
.login-register-form .to-reg:hover {
  color: #000000;
  transform: translateY(2px);
}
