/* -----Memory Section----- */
.memory-section {
  position: relative;
  max-width: 400px;
  background-color: #f39446;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/* Icon */
.memory-section .icon {
  padding: 10px;
}

.memory-section .icon > svg {
  width: 70px;
}

/* Heading */
.memory-section .heading {
  text-align: center;
  font-size: 1.5rem;
}

/* Category */
.memory-section .category {
  text-align: center;
  font-size: 1.2rem;
}

/* Details */
.memory-section .details {
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Date & time */
.memory-section .date-time {
  text-align: center;
  font-size: 0.7rem;
}

/* Like & Dislike */
.memory-section .like-dislike {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-section .like-dislike .button-custom {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.memory-section .like-dislike .button-custom > svg {
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.memory-section .like-dislike .button-custom > svg:hover {
  color: #ffffff;
}

/* Overlay */
.memory-section .overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  background-color: #474b4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.memory-section .overlay.slide-left {
  top: 0;
}

.memory-section .overlay .paragraph {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.memory-section .overlay .button-custom {
  margin: 0 !important;
  padding: 8px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.memory-section .overlay .button-custom:hover {
  background-color: #f39446 !important;
}

.memory-section .overlay .button-custom > svg {
  width: 18px;
}

/* Username */
.memory-section .user-name {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  background-color: #ffffff;
  color: #2d3436;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

/* Edit & delete memory buttons */
.memory-section .memory-buttons {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.memory-section .memory-buttons .button-custom {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.memory-section .memory-buttons .button-custom > svg:hover {
  color: #ffffff;
}
