/* -----Navbar Section----- */
.navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #2d3436;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Search Bar */
.search {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.search .textbox-custom {
  width: 100%;
}

.search .textbox-custom:focus {
  background-color: #ffffff !important;
}

/* Menu */
.menu {
  display: flex;
  justify-content: flex-end;
}

.menu .button-custom {
  background-color: #eb832e !important;
  padding: 6px 12px !important;
  color: #2d3436 !important;
}

.menu .button-custom:hover {
  background-color: #ffffff !important;
  color: #eb832e !important;
}

.menu .button-custom > svg {
  width: 18px;
  height: 100%;
}
